<div class="container">
    <h2> Customer Login page</h2>

    <p>
        <mat-form-field appearance="outline" [style.width.em]="15">
            <mat-icon matSuffix>email</mat-icon>
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="email@gmail.com">
            <mat-hint>email</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline" [style.width.em]="15">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>hint: *****</mat-hint>
        </mat-form-field>
    </p>
    <p>Dont have an account? <a routerLink="/customer/signup">Signup</a></p>
    <p>
        <button mat-raised-button color="ascent" [style.width.em]="15">Login</button>
    </p>
</div>